.business{
    .step{
        @include text-font(#A5B4CB);
        padding: 2rem 0 1rem 0;
    }
    form{
        .d-flex-con3{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            .business-type{
                width: 45%;
                .input-container select{
                    @include input-field();
                }
            }
            .business-category{
                width: 45%;
                .input-container select{
                    @include input-field();
                }
            }
            
        }
        .select-method{
            @include text-font(#141737);
            padding: 1rem 0 0 0;
        }
        .button-container{
            margin-top: .5rem;
            .btn{      
            background-color: #F5F6FA;
            color: #141737;
            border: 1px solid transparent;
            outline: none;
            padding: .65rem 1rem;
            cursor: pointer;
            border-radius: 7px;
            margin-right: .8rem;
            font-weight: 500;
            }
        }
        .complete-btn{
            display: flex;
            justify-content: right;
            margin-top: 2rem;
            padding: 1rem 0 0 0;
            border-top: 1px solid #E9EEF4;
            button{
                background: #006AFF;
                color: #fff;
                padding: 1rem 2.4rem;
                border: none;
                cursor: pointer;
                border-radius: 8px;
                margin-right: 0;
            }
        }
    }
}
